<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= @polling.title %> - <%= @polling.code %></h1>
  <%== render partial: 'counterwidget', locals: { polling: @polling, text_size: 'text-4xl' } %>


  <div class="mt-5 p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">INFO!</span> This will be realtime for the result.
  </div>
  <div class="contents" data-controller="pollings" data-polling-id="<%= @polling.id %>">
    <% @polling_answers.each_with_index do |polling_answer, index| %>
      <%== render partial: 'polling_bar', locals: { polling_answer: polling_answer, index: index, total_amount: @total_amount } %>
    <% end %>
  </div>

  <%= link_to 'Back to pollings', pollings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>