<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= @polling.title %> - <%= @polling.code %></h1>
  <%== render partial: 'counterwidget', locals: { polling: @polling, text_size: 'text-4xl' } %>


  <div class="mt-5 p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">INFO!</span> This will be realtime for the result.
  </div>
  <div class="contents">
    <% @polling.polling_answers.each_with_index do |polling_answer, index| %>
      <div class="my-5">
        <span id="code" class="bg-blue-100 text-blue-800 text-md text-center font-medium mx-auto px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Polling <%= index + 1 %></span>
        <h1><%= polling_answer.description %></h1>
        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700 mt-2">
          <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: <%= polling_answer.amount * 100 / @total_amount %>%"><%= polling_answer.amount * 100 / @total_amount %>%</div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to pollings', pollings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>