<% if @room.nil? %>
  <section class="bg-white dark:bg-gray-900 ">
    <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
      <div class="flex flex-col items-center max-w-sm mx-auto text-center">
        <p class="p-3 text-sm font-medium text-red-500 rounded-full bg-blue-50 dark:bg-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"/>
          </svg>
        </p>
        <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">Error</h1>
        <p class="mt-4 text-gray-500 dark:text-gray-400">Room QnA not found!</p>
      </div>
    </div>
  </section>
<% else %>
  <div>
    <br />
    <div class="mx-auto md:w-2/3 w-full">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl"><%= @room.title %> - <%= @room.code %></h1>
      </div>

      <div class="mt-5 p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-900 dark:text-blue-400" role="alert">
        <%= @room.description %>
      </div>

      <%== render partial: 'layouts/shared/flash_message' %>

      <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <%= form_with url: qna_questions_ask_question_path do |form| %>
          <h5 class="text-xl font-medium text-gray-900 dark:text-white mb-3">Post Question!</h5>
          <%= hidden_field_tag :room_id, @room.id %>
          <%= form.label :your_question, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_area :question, rows: 4, class: "mb-3 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Leave a question..." %>
          <%= form.submit "Send Question", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% end %>
      </div>

      <div id="question">
        <ol class="relative border-l border-gray-200 dark:border-gray-700 overflow-y-auto">
          <% @room.qna_questions.order(amount: :desc).each do |qna| %>
            <li class="mb-10 ml-6 my-5">
              <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600">
                <div class="items-center justify-between mb-3 sm:flex">
                  <div class="flex justify-between items-center">
                    <time class="mb-1 text-sm font-normal text-gray-400 sm:order-last sm:mb-0"><%= time_ago_in_words(qna.created_at) %>
                      ago
                    </time>
                    <button type="button" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black">
                      <%= qna.amount %>
                      <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-xs font-semibold">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                    </svg>
                  </span>
                    </button>
                  </div>
                  <div class="text-sm font-normal text-gray-500 lex dark:text-gray-300">Anonymous
                    <a href="#" class="font-semibold text-gray-900 dark:text-white hover:underline"><%= @room.title %>
                      (<%= @room.code %>)</a></div>
                </div>
                <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300">Hi
                  <%= qna.question %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>

    </div>
  </div>
<% end %>
